.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 2%;
    /* margin-right: 3%; */
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconCard{
    background-image: linear-gradient(to right, #cb0c9f , #920ccb);
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
}

.heading{
    padding-left: 60%;
    font-weight: bolder;
}