.data-content{
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 0 2% 0 1%;
}

.ban-button{
    background-color: red;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 0;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
}

.ban-button:hover{
    background-color: darkred;
}

.filter-bar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type=text] {
    width: 500px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
    padding-left: 5px;
}

h2{
    text-align: center;
}