/* .forget-header {
  font-size: 50px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #21d4fd, #2152ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 430px) {
  .forget-header {
    font-size: 11vw;
  }
} */
