.cardRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.left{
    width: 60%;
}

.right{
    width: 40%;
}

.content{
    display: flex;
    padding-left: 1%;
}

.requestSection{
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.rightSection{
    background-color: white;
    padding: 2%;
    margin: 0 5% 0 5%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}