.newRequestItem{
    background-color: #F0F8FF;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
}

.newRequestItem button{
    color: green;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
    border: none;
    outline: 0;
    min-width: 100px;
    background-color: transparent;
}

.newRequestItem button:hover{
    font-weight: bolder;
}

.newRequestItem .clrSpan{
    color: red;
}

.newRequestItem img{
    border-radius: 15px;
}

.forwardIcon{
    background-color: #87CEFA;
    padding: 5px 5px 2px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.forwardIcon:hover{
    background-color: #00BFFF;
}