.hotelsSection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hotelsSection button{
    padding: 5%;
    min-width: 150px;
    border-radius: 10px;
    background: white;
    color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    cursor: pointer;
    border: none;
    outline: 0;
    margin-bottom: 10px;
    /* max-width: 100%; */
}

.hotelsSection button:hover{
    background-color: #AFEEEE;
}