
.container{
    padding-left: 1%;
    padding-right: 2%;
}

.tile{

    border-radius: 10px;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 40px;

}

.searchBox{
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 20px;
}

.searchField{

    border: none;
    outline: none;

}

.searchInput{
    flex-grow: inherit;
    outline: none;
    background-color: inherit;
    border: none;
    width: 500px;
    height: 20px;
}

.searchComponent{
    display: flex;
    
}


