@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.page-content{
  position: relative;
  left: 270px;
  top: 70px;
}

