@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  margin: 0;
}
.page-content {
  position: relative;
  left: 270px;
  top: 70px;
}

/* //////////////////////////////////  login page styles /////////////////////////////////// */
