@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.page-content{
  position: relative;
  left: 270px;
  margin-right: 270px;
  flex-grow: 1;
}

.nav-bar{
  position: fixed;
  left: 0;
}

.content{
  position: relative;
  top: 70px;
}
